
.landingWrppr{
    background: linear-gradient(165deg, #390049, #9663a8, #d9c9e3, #d9c9e3, );
    .bannerSlidersImg{
        height: 100vh;
    }
}
.categoryWrppr{
    background: linear-gradient(330deg, #390049, #9663a8, #d9c9e3, #d9c9e3, );
    .categoryImg{
        height: 20vh;
    }
}
